@import "shared/themes/breakpoints";

.page {
	position: relative;
	width: 100%;
	height: 100%;
	min-height: 100vh;
	max-height: 100vh;
	display: flex;
	flex-flow: column;
	justify-content: flex-start;
	align-items: stretch;
	text-align: center;
	font-size: var(--text-normal-size);
	color: var(--light-100);
	font-family: var(--text-normal);
}
.background {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.container {
	flex: 1 1 auto;
	display: flex;
	flex-flow: column;
	justify-content: flex-start;
	align-items: center;
	overflow-y: auto;
	mask-border-mode: alpha;
	mask-image: linear-gradient(to bottom, transparent, black 2rem, black calc(100% - 2rem), transparent);
	// padding: 2rem 0;
}
.wrapper {
	width: 90%;
	max-width: 900px;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: stretch;
}
.div6 {
	position: relative;
}
.child {
	width: 720px;
	object-fit: cover;
	pointer-events: none;
	max-width: 85%;
	user-select: none;
}
.buttonbuylevelnormal2Icon {
	width: 141px;
	height: 41px;
	object-fit: cover;
}
.buttonbuylevelnormal2Parent {
	width: 141px;
	height: 41px;
	display: none;
	font-size: var(--h6-desktop-size);
	color: var(--secondary-100);
	font-family: var(--h6-desktop);
}
.item {
	bottom: 606.5px;
	left: calc(50% - 38.06px);
	width: 39.13px;
	height: 54.5px;
}
.ant,
.inner,
.item {
	position: fixed;
}
.inner {
	top: 312.74px;
	left: 924.76px;
	width: 145.17px;
	height: 107.26px;
}
.ant {
	--size: 130px;
	top: 61%;
	left: 82%;
	transform: translate(-50%, -50%);
	width: var(--size, 150px);
	height: var(--size, 150px);
	object-fit: cover;
	cursor: pointer;
	-moz-transition: all 1s ease-out;
	-o-transition: all 1s ease-out;
	-webkit-transition: all 1s ease-out;
	transition: all 1s ease-out;
}

.ant:hover {
	-webkit-transform: translate(-50%, -50%) scale(1.1);
	-moz-transform: translate(-50%, -50%) scale(1.1);
	-o-transform: translate(-50%, -50%) scale(1.1);
	transform: translate(-50%, -50%) scale(1.1);
}
.text {
	font-family: AllodsWest;
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	align-items: center;
	color: #ffffff;
	line-height: 120%;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.preloader {
	width: 100%;
	position: relative;
	-webkit-animation: slideIn 0.7s forwards;
	-moz-animation: slideIn 0.7s forwards;
	animation: slideIn 0.7s forwards;
}
@-webkit-keyframes slideIn {
	0% {
		transform: translateX(-900px);
	}
	100% {
		transform: translateX(0);
	}
}
@-moz-keyframes slideIn {
	0% {
		transform: translateX(-900px);
	}
	100% {
		transform: translateX(0);
	}
}
@keyframes slideIn {
	0% {
		transform: translateX(-900px);
	}
	100% {
		transform: translateX(0);
	}
}

.preloader2 {
	width: 100%;
	position: relative;
	-webkit-animation: slideIn2 0.7s forwards;
	-moz-animation: slideIn2 0.7s forwards;
	animation: slideIn2 0.7s forwards;
}
@-webkit-keyframes slideIn2 {
	0% {
		transform: translateX(900px);
	}
	100% {
		transform: translateX(0);
	}
}
@-moz-keyframes slideIn2 {
	0% {
		transform: translateX(900px);
	}
	100% {
		transform: translateX(0);
	}
}
@keyframes slideIn2 {
	0% {
		transform: translateX(900px);
	}
	100% {
		transform: translateX(0);
	}
}

@include smartBreakpointByType(max, sm) {
	.text {
		font-size: 16px;
	}
}
@media (min-width: 2560px) {
	.text {
		font-size: 25px;
		max-width: 1000px;
		-webkit-user-select: none;
		user-select: none;
	}
}