@import "shared/themes/breakpoints";

.bgSoundControl {
  width: 48px;
  height: 48px;
  border-radius: 100%;
  position: fixed;
  left: 15px;
  bottom: 48px;
  z-index: 10;
  border: none;
  background-color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;

  .icon {
    width: 50%;
    height: 50%;
    fill: #206ed3;
  }
}

@include smartBreakpointByType(max, lg) {
  .bgSoundControl {
    width: 32px;
    height: 32px;
  }
}