.page {
	position: relative;
	width: 100%;
	height: 100%;
	min-height: 100vh;
	max-height: 100vh;
	display: flex;
	flex-flow: column;
	justify-content: flex-start;
	align-items: stretch;
	text-align: center;
	font-size: var(--h6-desktop-size);
	color: var(--light-100);
	font-family: var(--h6-desktop);
	overflow: hidden;
}

.containerBackground,
.pageBackground {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.containerBackground {
	z-index: -1;
}

.content {
	flex: 1 1 auto;
	position: relative;
	width: 100%;
	display: flex;
	flex-flow: column;
	justify-content: flex-start;
	align-items: stretch;
	gap: 2rem;
	-webkit-animation: slideIn 0.7s forwards;
	-moz-animation: slideIn 0.7s forwards;
	animation: slideIn 0.7s forwards;
}

.carousel {
	$height: 900px;
	$width: 420px;

	flex: 1 1 auto;
	width: 100%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: stretch;
	gap: 2rem;
	padding: 2rem;
	overflow-x: auto;
	scroll-snap-type: x mandatory;

	&::-webkit-scrollbar {
		display: none;
	}

	.slide {
		flex: 1 1 auto;
		scroll-snap-align: center;
		height: 100%;
		max-width: 100%;
		display: flex;
		flex-flow: column;
		justify-items: center;
		align-items: stretch;
		cursor: pointer;

		> img {
			display: block;
			height: 100%;
			width: 100%;
			border-radius: 0.625rem;
			object-fit: cover;
		}
	}
}

.ant, .yasker, .nayan, .smeyana {
	&:not(.active) {
		filter: brightness(22%);
		transition: 1s;
	}

	&:hover {
		mask-image: linear-gradient(-75deg, rgba(0, 0, 0, 0.6) 30%, #000 50%, rgba(0, 0, 0, 0.6) 70%);
		mask-size: 200%;
		animation: wave 2s infinite;
		filter: brightness(100%);
		transition: 1s;
	}
}

.border {
	width: 100%;
	height: 25px;

	.top {}

	.bottom {
		bottom: 0;
	}
}

.buttonContainer {
	position: absolute;
	top: 143px;
	left: 890px;
	width: 141px;
	height: 41px;
	display: none;
	color: var(--secondary-100);

	.buttonImage {
		position: absolute;
		top: 0;
		left: 0;
		width: 141px;
		height: 41px;
		object-fit: cover;
	}
	.buttonText {
		position: absolute;
		top: 9px;
		left: 37px;
		line-height: 120%;
	}
}

@-webkit-keyframes slideIn {
	0% {
		transform: translateY(900px);
	}
	100% {
		transform: translateY(0);
	}
}
@-moz-keyframes slideIn {
	0% {
		transform: translateY(900px);
	}
	100% {
		transform: translateY(0);
	}
}
@keyframes slideIn {
	0% {
		transform: translateY(900px);
	}
	100% {
		transform: translateY(0);
	}
}

@keyframes wave {
	from {
		-webkit-mask-position: 150%;
	}
	to {
		-webkit-mask-position: -50%;
	}
}