@import "shared/themes/breakpoints";

.header {
	position: relative;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	padding: 2rem 3rem;
}
.header > * {
	flex: 1 0 200px;
}
.div7 {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	gap: var(--gap-9xs);
	line-height: 120%;
}
.div8 {
	position: relative;
	line-height: 120%;
	font-family: AllodsWest;
	font-size: 20px;
}
.link {
	color: rgba(196, 196, 196, 0.7);
	position: relative;
	font-family: AllodsWest;
	font-size: 20px;
	line-height: 120%;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.link a {
	color: rgba(196, 196, 196, 0.7);
	text-decoration: none;
}
.link:hover,
.link a:hover {
	color: white;
}
.link.active,
.link.active a {
	color: white;
}
.link.disabled {
	color: white;
	opacity: 0.5;
	cursor: default;
	pointer-events: none;
}

.menu {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: var(--gap-29xl);
}
.icons {
	position: relative;
	width: 16px;
	height: 16px;
	overflow: hidden;
	flex-shrink: 0;
}

@include smartBreakpointByType(min, sm) {
	.header {
		background: linear-gradient(to bottom, rgba(0,0,0,.5) 80%, transparent);
		backdrop-filter: blur(1rem);
	}
}
